.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pseudo__tab {
  max-width: 594px;
  width: 100%;
  border-radius: 2.68em;
}

.first--tab {
  padding-top: 2.375em;
  background-color: rgba(255, 255, 255, 0.5);
}

.second--tab {
  padding-top: 2.875em;
  background-color: rgba(255, 255, 255, 0.7);
}

.form__container {
  max-width: 594px;
  background-color: #fff;
  border-radius: 2.68em;
}
.form__title,
.form__subtitle,
.form__text {
  text-align: center;
}

.form__title {
  padding-top: 1.67em;
  padding-bottom: 0.42em;
  font-size: 3.25rem;
  font-weight: 700;
}
.form__subtitle {
  padding-bottom: 2.5em;
  font-size: 1.25rem;
  font-weight: 400;
  color: #808080;
}
.form__text {
  margin: 2.38em 0;
  font-size: 0.8125rem;
  color: #8b8b8b;
}
