<main class="main">
  <div class="main__container">
    <div class="absolute__item absolute__item--first"></div>
    <div class="absolute__item absolute__item--second"></div>
    <div class="absolute__item absolute__item--third"></div>
    <div class="absolute__item absolute__item--forth"></div>
    <div class="img__container">
      <img src="#" alt="">
    </div>
    <h1 class="main__title">Welcome Page</h1>
    <p class="main__subtitle">Sign in to continue access pages</p>
  </div>
  <div class="pseudo__tab first--tab">
    <div class="pseudo__tab second--tab">
      <div class="form__container">
        <h3 class="form__title">Sign in</h3>
        <p class="form__subtitle">Sign in to continue access pages</p>
        <form action="get">
          <ul class="flex">
            <li>
              <input class="primary__input" type="email" placeholder="Email address">
            </li>
            <li>
              <input class="primary__input" type="text" placeholder="Password">
            </li>
            <li>
              <button class="btn btn__submit">continue</button>
            </li>
          </ul>
        </form>

        <p class="form__text">or Connect with Social Media</p>
        <div class="flex">
          <button class="btn btn__twitter">Sign in with Twitter</button>
          <button class="btn btn__facebook">Sign in with Facebook</button>
        </div>
      </div>
    </div>
  </div>
</main>